<a href="https://colab.research.google.com/github/sudhrathore/sudhanshu_AIMLBootcamp_Genzeon_2023/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
str="Learning Python in Genzeon."
print(str.capitalize())
print(str.casefold())
print(str.center(10))
print(str.count("Python"))
print(str.encode)
print(str.endswith("."))
print(str.find("in"))
print(str.index("P"))
print(str.isalnum())
print(str.isalpha())
print(str.isdigit())
print(str.isspace())
print(str.isupper())
print(str.replace("Python","Java"))
print(str.partition(" in "))
print(str.rfind("in"))
print(str.rindex("in"))
print(str.split(" "))
print(str.startswith("P"))
print(str.strip())
print(str.swapcase())
print(str.title())
print(str.upper())

Learning python in genzeon.
learning python in genzeon.
Learning Python in Genzeon.
1
<built-in method encode of str object at 0x7f632c220cb0>
True
5
9
False
False
False
False
False
Learning Java in Genzeon.
('Learning Python', ' in ', 'Genzeon.')
16
16
['Learning', 'Python', 'in', 'Genzeon.']
False
Learning Python in Genzeon.
lEARNING pYTHON IN gENZEON.
Learning Python In Genzeon.
LEARNING PYTHON IN GENZEON.

In [36]:
list=[22,"Genzeon",34,"Python",90]
list.append(103)
print(list)

list2 =list.copy()
print(list2)

print(list.count(22))

list.extend(["Genzeon"])
print(list)

list.insert(3,"learn")
print(list)

[22, 'Genzeon', 34, 'Python', 90, 103]
[22, 'Genzeon', 34, 'Python', 90, 103]
1
[22, 'Genzeon', 34, 'Python', 90, 103, 'Genzeon']
[22, 'Genzeon', 34, 'learn', 'Python', 90, 103, 'Genzeon']

In [38]:
tup=("hello",3,5,"Python")
print(tup.count(5))
print(tup.index("Python"))

1
3

In [39]:
dic={'name':'sudhanshu','phone':'12345','address':'Pune'}
print(dic['name'])
print(dic.keys())
print(dic.values())
print(dic.get('name'))

sudhanshu
dict_keys(['name', 'phone', 'address'])
dict_values(['sudhanshu', '12345', 'Pune'])
sudhanshu

In [45]:
s1={1,3}
s2={1,2,3,"hi",(1,2,3,4)}

l=[1,3,5,7]
s3=set(l)
print(s3)

s1.add(2)
print(s1)

s1.update([2,3,4])
print(s1)

a={1,2,3,4}
b={4,5,6,7}

print(a.difference(b))
c=a.intersection(b)
print(c)

a.remove(4)
print(a)

print(a.union(b))

print(a.intersection_update(b))

{1, 3, 5, 7}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}
{4}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
None

In [51]:
x=float(input("Enter a decimal number"))
y=bin(int(x))
z=oct(int(x))
w=hex(int(x))

print("In Binary:",y)
print("In octal: ",x)
print("In Hexadecimal: ",w)

Enter a decimal number2.2
In Binary: 0b10
In octal:  2.2
In Hexadecimal:  0x2

In [52]:
# Addition
a = 5
b = 3
sum = a + b
print("Sum:", sum)

# Subtraction
x = 10
y = 7
difference = x - y
print("Difference:", difference)

# Multiplication
p = 4
q = 6
product = p * q
print("Product:", product) 

# Division
m = 20
n = 5
quotient = m / n
print("Quotient:", quotient)

# Integer Division (Floor Division)
p = 20
q = 6
integer_quotient = p // q
print("Integer Quotient:", integer_quotient) 

# Modulo (Remainder)
p = 17
q = 4
remainder = p % q
print("Remainder:", remainder) 

# Exponentiation
base = 2
exponent = 3
result = base ** exponent
print("Result:", result)

Sum: 8
Difference: 3
Product: 24
Quotient: 4.0
Integer Quotient: 3
Remainder: 1
Result: 8

In [55]:
#Assignment Operators
x = 5
x += 3  
print(x)

x -= 2  
print(x)

x *= 4
print(x)

x/=3
print(x)

x%=2
print(x)

8
6
24
8.0
0.0