<a href="https://colab.research.google.com/github/sudhrathore/sudhanshu_AIMLBootcamp_Genzeon_2023/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
tup0=(1,2,3,4,5,)
tup1=("hi",1.3,5)
tup2=("hello",tup0,tup1)

print(tup2[-3])
print(tup2[0][1:3])

#tuple method
print(tup0.count(1))
print()

hello
el

In [4]:
#sets
s1={1,3}
s2={1,2,3,"hi",(1,2,3,4)}

l=[1,3,5,7]
s3=set(l)
print(s3)

s1.add(2)
print(s1)

s1.update([2,3,4])
print(s1)

#set operations
a={1,2,3,4}
b={4,5,6,7}

#union
print(a|b)
print(a.union(b))

{1, 3, 5, 7}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [5]:
#dictionary

dic={'name':'sudhanshu','phone':'12345','address':'Pune'}
print(dic['name'])
print(dic.keys())
print(dic.values())
print(dic.get('name'))

sudhanshu
dict_keys(['name', 'phone', 'address'])
dict_values(['sudhanshu', '12345', 'Pune'])
sudhanshu

In [8]:
from ast import NodeTransformer
a=int(input("enter a numer"))
print(a)

b=input("enter a string")
print(b)

name="genzeon"
language="python"
c="trainees"

print(c,"are learning",language,"programming at", name)

#format
print("{} are learning {} programming at {} ".format(c,language,NodeTransformer))

#placeholder
print("%s are learning %s programming at %s"%(c,language,name))

#rawstring
print(f"{c} are learning {language} at {name}")

enter a numer22
22
enter a stringsud
sud
trainees are learning python programming at genzeon
trainees are learning python programming at

In [11]:
#decisionmaking

#if statement
var=10
if var>0:
  print("true")
  print(var)

true
10

In [10]:
#ifelse
var1 = -1
if var1>0:
  print("true")
else:
    print("false")

false

In [14]:
from pathlib import PureWindowsPath
var= int(input("enter your age"))
if var<5:
  print("no ticket")
else:
  if 5<var<15:
    print("half ticket")
  else:
    if 15<var<60: 
      print("full ticket")
    else:
      print("senior ticket")

enter your age33
full ticket

In [18]:
#loops
#forloops
ln=[65,3,94,23,55,26,42,67,55,98]
sum=0
for val in ln:
  sum=sum+val
print("the sum is",sum)

for i in range(1,11,2):
  print(i)

the sum is 528
1
3
5
7
9

In [19]:
num=int(input("enter the list of tables you wanna print"))
i=1
while(i<num):
  print(f"Table {i}")
  j=1
  while(j<11):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("-------------------------")
  i=i+1

enter the list of tables you wanna print5
Table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
-------------------------
Table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
-------------------------
Table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
-------------------------
Table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
-------------------------

In [22]:
for l in "python":
  if l=="h":
    pass
    print("in pass")
  print("current letter",l)

current letter p
current letter y
current letter t
in pass
current letter h
current letter o
current letter n