<a href="https://colab.research.google.com/github/sudhrathore/sudhanshu_AIMLBootcamp_Genzeon_2023/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Function

def greet(name):
  '''this function greets a person'''
  print("Hello \t"+name+"\t Good morning")
  
greet("Sudhanshu")

Hello 	Sudhanshu	 Good morning

In [2]:
#default
def A(a,b=1,c=2):
  return a+b+c

print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [3]:
#keyword

def A(a,b=1,c=2):
  return a+b+c

print(A(a=2,b=2))
print(A(c=3,b=2,a=1))

6
6

In [4]:
#positional
def add(a,b,c):
  return a+b+c

print(add(10,20,30))

60

In [6]:
#arbitary keyword
def key_arg(**kwargs):
  return kwargs

my_dict=key_arg(apples=10,bananas=20,chiku=30)

print(my_dict['apples'])
print(my_dict)

10
{'apples': 10, 'bananas': 20, 'chiku': 30}

In [10]:
def add_num(*n):
  print(n)
  print(sum(n))

add_num(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)
21

In [11]:
#higher order function

def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("Hi i am higher order FuNction")
  print(greet)

explain(shout)
explain(whisper)

HI I AM HIGHER ORDER FUNCTION
hi i am higher order function

In [12]:
#lamba
def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))

5
5

In [14]:
li=[1,2,3,4,5]
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)

print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [15]:
def eor(num):
  if num%2==0:
    return "the number {} is even ".format(num)
  else:
      return "the number {} is odd ".format(num)

l=[1,2,3,4,5,6,7]
list(map(eor,l))

['the number 1 is odd ',
 'the number 2 is even ',
 'the number 3 is odd ',
 'the number 4 is even ',
 'the number 5 is odd ',
 'the number 6 is even ',
 'the number 7 is odd ']

In [16]:
l4=['apples','bananas','chikus']
r=list(map(lambda x:x.capitalize(),l4))
print(r)

['Apples', 'Bananas', 'Chikus']

In [17]:
#filter

def odd_num(n):
  if n%2!=0:
    return n

myl=[7,8,9,5,4,3]
print(list(filter(odd_num,myl)))

l6=[5,7,8,90,43,578,738,36,99]
temp=list(filter(lambda x:x%2==0,l6))
print(temp)

[7, 9, 5, 3]
[8, 90, 578, 738, 36]

In [18]:
#modules
import os
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()

[]

In [20]:
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))

3.141592653589793
2.718281828459045
2.0

In [22]:
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['/content', '/env/python', '/usr/lib/python310.zip', '/usr/lib/python3.10', '/usr/lib/python3.10/lib-dynload', '', '/usr/local/lib/python3.10/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.10/dist-packages/IPython/extensions', '/root/.ipython']
3.10.11 (main, Apr  5 2023, 14:15:10) [GCC 9.4.0]
9223372036854775807

In [25]:
import statistics as st
print(st.mean([21,29,34]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,4,5]))

28
3
1

In [26]:
import random as r
print(r.randrange(1,50))
print(r.randint(1,100))
print(r.random())

5
3
0.7140873652995456

In [27]:
#class & object
class CO:
  def addn(slef,a,b):
    return a+b
  def subn(self,a,b):
    return a-b
obj=CO()
print("addition of two number is",obj.addn(5,5))
print("sub of two numbers is",obj.subn(5,4))

addition of two number is 10
sub of two numbers is 1

In [29]:
#inheritance
class Animal:
  def animal_sounds(self):
    return "make sound"
class Cat(Animal):
  def cat_sound(self):
    return self.animal_sounds()+"\t Meow"
  def __str__(self):
    return "CAT"

class Dog(Animal):
  def dog_sound(self):
    return self.animal_sounds()+"\t Bow"
  def __str__(self):
    return "Dog"

catobj=Cat()
print(catobj,catobj.cat_sound())

dogobj=Dog()
print(dogobj,dogobj.dog_sound())

CAT make sound	 Meow
Dog make sound	 Bow

In [31]:
#exception

print(x)

NameError: ignored

In [32]:
try:
  print(z)
except NameError as ne:
  print("exception occured",ne)

exception occured name 'z' is not defined

In [33]:
class INVALIDAGE(Exception):
  pass 
age=int(input("enter voter age"))
try:
  if age<18:
    raise INVALIDAGE
except INVALIDAGE:
  print("error raised due to invalid age")

enter voter age14
error raised due to invalid age

In [34]:
#file management

f=open("sample.txt",'x')

In [35]:
import os
os.remove("sample.txt")

In [36]:
f=open("sample.txt","w")
f.write("Welcome to python")
f.close()

In [37]:
f=open("sample.txt","r")
print(f.read())
f.close()

Welcome to python

In [38]:
f=open("sample.txt","r")
print(f.read(3))
print(f.tell())
print(f.seek(3))
print(f.seek(0))
print(f.readline())

Wel
3
3
0
Welcome to python

In [40]:

f=open("sample.txt", 'r')
f1=open("sample2.txt", 'w') 
file_contents = f.read()
    
    
f1.write(file_contents)

print("File copied successfully.")
f1.close()
f.close()

File copied successfully.

In [42]:
#pickle
import pickle
myl=['a','b','c','d','e']
f3=open("f3.txt","wb")
pickle.dump(myl,f3)
f3.close()

#unpickle
pickle_off=open("f3.txt","rb")
e=pickle.load(pickle_off)
print(e)

['a', 'b', 'c', 'd', 'e']

In [43]:
#regularexpression

import re
pattern=r"COOKIE"
sequence="Cookie"
if re.match(pattern,sequence):
  print("Matching")
else:
    print("Not a match")

Not a match

In [45]:
import re
mail=input("enter your mail")
pattern=r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern,mail):
  print("Matching")
else:
    print("Not a match")

enter your mailsudh
Not a match